* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #F2F4F8;
}

h1 {
    padding: 1rem;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    margin: auto;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1 auto;
        border-radius: 1rem;
    }
}
